.app-variable-btn {
    padding: 0.5rem 1rem;
    text-transform: none;
    color: var(--txt-clr);
    background-color: var(--drawer-clr);
    cursor: pointer;
    margin-left: 0.75rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.app-variable-help-txt {
    text-align: start;
    padding: 0.5rem;
    color: #FFF;
    background-color: var(--pallete-bg-clr);
    border: 0.1rem solid rgb(227, 227, 227);
    border-bottom: none;
    border-radius: 0.75rem;
}