.ui-text-view-layout {
    min-width: 1.6rem;
    min-height: 1.6rem;
    width: 100%;
    height: 100%;
    border-style: solid;
    display: table;
}

.ui-text-view {
    min-width: 0.5rem;
    min-height: 0.5rem;
    display: flex;
    overflow: hidden;
}