.action-editor-section {
    width: 7rem;
    position: relative;
}

.action-editor-badge {
    width: 7rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: space-evenly;
    background: var(--action-btn);
    border-radius: 0.5rem;
    color: white;
    padding: 0.15rem;
    cursor: pointer;
}

.action-editor-badge h4 {
    color: var(--scroll-clr);
}

.action-editor-chip {
    background-color: var(--btn-bg-clr);
    padding: 0.3rem;
    width: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}